<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng-intro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js" charset="utf-8"></script>
  <script src="main.js"></script>
</head>
<body ng-app="myApp" ng-controller = "mainCtrl" >

<div class="container">


    <div>

      <h2>new Contact</h2>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="name" ng-model =newContact.name>
        <div class="form-control">
          <labe>Email</labe>
          <input type="text" class="from-control" placeholder="email" ng-model =newContact.email>
        </div>
        <div>
          <button class="btn btn-primary" ng-click="addContact()">Add Contact</button>
        </div>

      </div>

      <div class="form-group">
          <label for="">Seatch:</label>
          <input type="text" class="form-control" ng-model="searchFilter">
      </div>


      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts | filter:searchFilter | orderBy:'name' track by $index ">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click= 'removeContact()'>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>

          </tr>
        </tbody>
      </table>


    </div>









<!--
      <h1>ngIntro</h1>



    <div><input type="text" ng-model = "user"></div>
    <div>
      <button ng-click="addName()">Add Name</button>
    </div>
    <div>
      <ul>
        <li  ng-repeat="name in names track by $index">{{name}}</li>
      </ul> -->
    </div>

</div>


</body>
</html>
